<footer>
    <div class="footer-logo"><img src="./images/logo_ktm_blanco.svg" /></div>
    <div class="footer-social-menu">
        <ul>
            <li>
                <a href="https://wa.me/584129706776?text=" target="_blank">
                    <img
                        class="footer-social-icon"
                        src="./images/whatsapp.svg"
                    /></a
                >
            </li>
            <li>
                <a
                    href="https://www.facebook.com/profile.php?id=100090155978214"
                    target="_blank"
                    ><img
                        class="footer-social-icon"
                        src="./images/facebook.svg"
                    /></a
                >
            </li>
            <li>
                <a href="https://www.instagram.com/ktmvzla" target="_blank"
                    ><img
                        class="footer-social-icon"
                        src="./images/instagram.svg"
                    /></a
                >
            </li>
        </ul>
    </div>
</footer>

<style lang="scss">
    footer {
        background-color: var(--black-color);
        padding: 3rem;
    }
    .footer-logo {
        display: flex;
        justify-content: center;
        padding: 1rem;
        img {
            width: 220px;
        }
    }

    .footer-social-menu {
        display: flex;
        justify-content: center;
        padding: 2rem;
        ul {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;
            padding-left: 0;
            gap: 3rem;
            list-style: none;
        }
    }

    .footer-social-icon {
        width: 1.8rem;
    }
    .power-by {
        margin-top: 2rem;
        display: none;
        justify-content: center;
        p {
            color: #ffffff;
            letter-spacing: 4px;
        }
    }
</style>
