<header>
    <div class="container">
        <div class="nav-logo">
            <img src="/images/logo.svg" alt="Logo KTM" />
        </div>
    </div>
</header>

<style>
    header {
        background-color: #000;
    }
    .nav-logo {
        display: flex;
    }
    .nav-logo img {
        width: 100px;
    }
</style>
