<div class="slider">
    <img src="/images/slider-1.png" alt="" />
</div>
<style>
    .slider {
        display: flex;
        justify-content: center;
    }
    .slider img {
        width: 100%;
    }
</style>
