<div class="video-player-box">
    <div class="container">
        <div class="plyr__video-embed" id="player">
            <iframe
                src="https://www.youtube.com/embed/GHYV93G4xgE?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                allowfullscreen
                allowtransparency
                allow="autoplay"></iframe>
        </div>
    </div>
</div>

<style>
    .video-player-box {
        padding: 8rem 1rem;
    }
    .plyr__video-embed {
        -webkit-box-shadow: 0px 54px 21px -3px rgba(143, 143, 143, 1);
        -moz-box-shadow: 0px 54px 21px -3px rgba(143, 143, 143, 1);
        box-shadow: 0px 54px 21px -3px rgba(143, 143, 143, 1);
        position: relative;
    }
</style>
